/* Empty. Add your own CSS if you like */

/* TAB STYLES */

.tabs .tab-item .icon.qf-joey {
  background-repeat: no-repeat;
  background-position: 50%;
  height: 80%;
  background-image: url('/img/joey.svg');
  background-size:contain;
}

.tabs .tab-item .icon.qf-offers {
  background-repeat: no-repeat;
  background-position: 50%;
  height: 60%;
  background-image: url('/img/offers.svg');
  background-size:contain;
  margin-top: 10px;
}

.tabs .tab-item .icon.qf-home {
  background-repeat: no-repeat;
  background-position: 50%;
  height: 60%;
  background-image: url('/img/home.svg');
  background-size:contain;
  margin-top: 10px;
}

.tabs .tab-item .icon.qf-trips {
  background-repeat: no-repeat;
  background-position: 50%;
  height: 60%;
  background-image: url('/img/trips.svg');
  background-size:contain;
    margin-top: 10px;
}

.tabs .tab-item .icon.qf-more {
  background-repeat: no-repeat;
  background-position: 50%;
  height: 20%;
  background-image: url('/img/more.svg');
  background-size:contain;
  margin-top: 20px;

}

#bottomContainer {
    border: 1px solid red;
}


/* DASH STYLES */


#actionButton {
    position: absolute;
}

.onBoardContent img {
    margin-top: 50%;
}


.onBoardView .box {
    background-image: url(https://hd.unsplash.com/photo-1450887169825-67cbce827da4);
    background-size: cover;
    background-position: right;
    padding: 20px;
    color: white;
}

.onBoardContent h1 {
    color: white;
}

.onBoardContent p {
    font-size: 20px; line-height: 1.5em;
}
