<div class='card'>
  <div class="item item-divider">
    {{ type }} Transfer at {{airport | uppercase}}
  </div>
  <div style="position: relative">
      <img src="img/{{airport}}.jpeg" width=100%>
    </div>

  <div class="item item-text-wrap">


    <h1></h2>

        <div class="list card">
          <a class="item item-icon-left">
            <i class="icon ion-home"></i>
            1. Check out of LAX international airport
          </a>

          <a class="item item-icon-left">
            <i class="icon ion-ios-navigate-outline"></i>
            2. Go through Domestic departures
          </a>

          <a class="item item-icon-left">
            <i class="icon ion-android-exit"></i>
            3. Go to gate B17
          </a>

          <a class="item item-icon-left">
            <i class="icon ion-plane"></i>
            <p> You have </p>
            <h3> {{timer.minutes}} {{test}} minutes and {{timer.seconds}} seconds left </h3>
            <p> to get to gate B17 </p>
          </a>
      </div>

  </div>

</div>
