<div class="card">
  <div class="item item-divider positive row">
    <div class="item-icon-left">
      <i class="icon ion-tshirt-outline"></i>
    </div>
    <div class="col col-50">
      <h3>Pre-Flight</h3>
      <span> <i class="icon ion-location"></i> {{location}} </span>
    </div>
    <div class="col item-icon-right">
      <i ng-show='completed' class="icon pull-right ion-android-done"></i>  
    </div>
  </div>
  <div class='item item-image'>
    <div back-img="img/{{airport}}.jpeg" style='min-height:200px' width='100%'>
      <div class='weather'><i class='icon ion-android-cloud-outline'></i>  +20 &deg;C</div>
      <div class='city'>{{location}}</div>
      
    </div>
  </div>
  <div class="item item-text-wrap" ng-show="!completed || completed_toggle">
    
    <p>
      {{days}} days until you fly to {{destination}}!
   </p>
    <h2>Some things to check before you go</h2>
    
    <todo data="tasks"></todo>

    <h2>If you have some time, why not be a bit more prepared for your trip</h2>

    <div class="list card">
      <a class="item item-icon-left" ng-repeat='idea in ideas' href="{{idea.link}}">
        <i class="icon {{idea.icon}}"></i>
        {{idea.text}}
      </a>
    </div>

  </div>
  <div class="item item-divider" ng-show="!completed_toggle">
   <button class="button icon ion-ios-arrow-down" ng-click="completed_toggle = !completed_toggle"></button>
    
  </div>
 <div class="item item-divider" ng-show="completed_toggle">
    <button class="button icon ion-ios-arrow-up" ng-click="completed_toggle = !completed_toggle"></button>
    
    <button class="button icon ion-share" ng-click="share()"></button>
  </div>
</div>