<div class='card'>
  <div class="item item-divider positive row">
    <div class="item-icon-left">
      <i class="icon ion-arrow-swap"></i>
    </div>
    <div class="col col-50">
      <h3>{{ type }} Transfer at {{airport | uppercase}}</h3>
      <span> <i class="icon ion-location"></i> {{location}} </span>
    </div>
    <div class="col item-icon-right">
      <i ng-show='completed' class="icon pull-right ion-android-done"></i>
    </div>
  </div>

  <div class='item item-image'>
    <div back-img="img/{{airport}}.jpeg" style='min-height:200px' width='100%'>
      <div class='weather'><i class='icon ion-android-cloud-outline'></i>  +20 &deg;C</div>
      <div class='city'>
          TRANSFER
        <p style="color: white; margin-top: 10px;"> SYD-LAX > LAX-SFO </p>
      </div>
    </div>

  </div>
  <div class="item item-text-wrap" ng-show="!completed || completed_toggle">
      <div class='row'>
        <div class='col col-25'>
          <img src='img/departure.svg' style='padding-top: 5px'/>
        </div>
        <div class='col col-25'>
          <h4>Departure</h4>
          <h3>{{deptime}}</h3>
        </div>
        <div class='col col-25'>
          <img src='img/arrivalicon.svg'/>
        </div>
        <div class='col col-25'>
          <h4>Arrival</h4>
          <h3>{{arrtime}}</h3>
        </div>
      </div>

        <h2 style="margin-top: 20px;"> Your next steps: </h2> 

        <div class="list card">
          <a class="item item-icon-left" ng-repeat='task in tasks'>
            <i class="icon {{task.icon}}"></i>
            {{task.text}}
          </a>
        </div>

        <div class="row">
          <a class="item item-icon-left">
            <i class="icon ion-plane"></i>
            <p> You have </p>
            <h3> {{timer.minutes}} {{test}} minutes and {{timer.seconds}} seconds left </h3>
            <p> to get to gate B17 </p>
          </a>
      </div>

      <h2>If you have some time, why not make the most of your time in {{airportname}} after all this is your first time there!</h2>

    <div class="list card">
      <a class="item item-icon-left" ng-repeat='idea in ideas'>
        <i class="icon {{idea.icon}}"></i>
        {{idea.text}}
      </a>
    </div>

  </div>
    <div class="item item-divider" ng-show="!completed_toggle">
   <button class="button icon ion-ios-arrow-down" ng-click="completed_toggle = !completed_toggle"></button>

  </div>
 <div class="item item-divider" ng-show="completed_toggle">
    <button class="button icon ion-ios-arrow-up" ng-click="completed_toggle = !completed_toggle"></button>

    <button class="button icon ion-share" ng-click="share()"></button>
  </div>

</div>
