<div class='card'>
  <div class="item item-divider">
    {{ type }} Transfer at {{airport | uppercase}}
  </div>
  <div class="item item-text-wrap">
    <div style="position: relative">
      <img src="img/{{airport}}.jpeg" width=100%>
    </div>

    <h1></h2>
        
        <div class="list card">
          <a class="item item-icon-left">
            <i class="icon ion-home"></i>
            1. Check out of LAX international airport
          </a>

          <a class="item item-icon-left">
            <i class="icon ion-ios-telephone"></i>
            2. Go through Domestic departures
          </a>

          <a class="item item-icon-left">
            <i class="icon ion-wifi"></i>
            2. Go to gate B17
          </a>

          <a class="item item-icon-left">
            <i class="icon ion-wifi"></i>
            You have 67 minutes left
          </a>
        </div>


  </div>
  <div class="item item-divider">
    <a class="button icon-right ion-chevron-right button-calm">Learn More</a>

    <button class="button icon ion-share" ng-click="share"></button>
  </div>

</div>
