<div class='card'>
  <div class="item item-divider">
    Check-in at {{airport | uppercase}}
  </div>
  <div class="item item-text-wrap">
    <div style="position: relative">
      <img src="img/{{airport}}.jpeg" width=100%>
    </div>
    <h2>
      Welcome back to {{airportname}}!
   </h2>
    <h1>Go to terminal {{terminal}} and check in at {{gate}}</h2>


    <h2>Looks like you've got {{hours}} hours before your flight</h2>
  </div>
  <div class="item item-divider">
    <a class="button icon-right ion-chevron-right button-calm">Learn More</a>
    
    <button class="button icon ion-share" ng-click="share"></button>
  </div>

</div>