<div class="card">
  <div class="item item-divider">
    Pre-Flight
  </div>
  <div class="item item-text-wrap">
    <div style="position: relative">
      <img src="img/{{airport}}.jpeg" width=100%>
    </div>
    <p>
      {{days}} days until you fly to {{destination}}!
   </p>
    <h2>Some things to check before you go</h2>
    
    <todo data="tasks"></todo>

  </div>
  <div class="item item-divider">
    <a class="button icon-right ion-chevron-right button-calm">Learn More</a>
    <button class="button icon ion-share" ng-click="share()"></button>
  </div>

</div>