<div class="card">
  <div class="item item-divider row">
    <div class="col item-icon-left">
      <i class="icon ion-tshirt-outline"></i>
    </div>
    <div class="col col-50">
      <h3>Pre-Flight</h3>
      <span> <i class="icon ion-location"></i> {{location}} </span>
    </div>
    <div class="col item-icon-right">
      <i ng-show='completed' class="icon pull-right ion-android-done"></i>  
    </div>
  </div>
  <div style="position: relative">
      <img src="img/{{airport}}.jpeg" width=100%>
    </div>
  <div class="item item-text-wrap" ng-show="!completed || completed_toggle">
    
    <p>
      {{days}} days until you fly to {{destination}}!
   </p>
    <h2>Some things to check before you go</h2>
    
    <todo data="tasks"></todo>

  </div>
  <div class="item item-divider" ng-show="!completed_toggle">
   <button class="button icon ion-ios-arrow-down" ng-click="completed_toggle = !completed_toggle"></button>
    
  </div>
 <div class="item item-divider" ng-show="completed_toggle">
    <button class="button icon ion-ios-arrow-up" ng-click="completed_toggle = !completed_toggle"></button>
    
    <button class="button icon ion-share" ng-click="share()"></button>
  </div>
</div>