<ion-view view-title="Dashboard" class="onBoardView">
  <ion-content class="padding">
      <ion-slide-box class="onBoard" on-slide-changed="slideHasChanged($index)">
      <ion-slide>
        <div class="box">

             <h2>Hi there!</h2>
             <p>
                My name is Joey, I'm going to help you out with your travel. Travel can be really stressful, so many things remember and 
                
             </p>
              

         </div>
      </ion-slide>
      <ion-slide>
        <div class="box">
            <h1>With you in the good times and the bad times</h1>
            <p>
              To edit the content of each tab, edit the corresponding template file in <code>www/templates/</code>. This template is <code>www/templates/tab-dash.html</code>
            </p>
            <p>
            If you need help with your app, join the Ionic Community on the <a href="http://forum.ionicframework.com" target="_blank">Ionic Forum</a>. Make sure to <a href="http://twitter.com/ionicframework" target="_blank">follow us</a> on Twitter to get important updates and announcements for Ionic developers.
            </p>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="box">
            <h1>With you every step of the way</h1>
            <a href="#/tab/story">
                  <button class="button button-large button-positive">
                      Let's go
                 </button>
              </a>
        </div>
      </ion-slide>

    </ion-slide-box>
  </ion-content>
</ion-view>
