<div class="bar bar-header bar-positive top-nav">
  <!-- todo bind to stages -->
  <div ng-repeat="stage in stages">
    <button class="button button-clear button-light" ng-click='scrollTo("stage-{{stage.id}}")' ng-show="stage.completed">
      <i class="icon ion-android-radio-button-off"></i>
    </button>
    <button class="button button-clear button-light" ng-click='scrollTo("stage-{{stage.id}}")' ng-show="!stage.completed && stage.current">
    <i class="icon ion-android-radio-button-on"></i>
    </button>
    <button class="button button-clear button-light" ng-click='scrollTo("stage-{{stage.id}}")' ng-show="!stage.completed && !stage.current">
    <i class="icon ion-android-radio-button-off"></i>
    </button>
  </div>


    <div class="row" id="chatIconContainer">
      <button class="button button-clear button-light col-offset-80" ng-click='scrollTo("stage-{{stage.id}}")' ng-show="!stage.completed && !stage.current">
      <i class="icon ion-ios-chatboxes"></i>
      </button>
  </div>


</div>
<ion-view view-title="Journey">
  <ion-content class="cards-bg" style="padding-top: 40px" delegate-handle="storyView">
    <div class='card'>
      <div class="item item-text-wrap">
        <p>Wow, looks like a big journey ahead of you!</p>
      </div>
    </div>

    <div ng-repeat="stage in stages">
      <div ng-switch="stage.type">
        <div ng-switch-when="preflight">
          <preflight  id='stage-{{stage.id}}' days='stage.days' airport="stage.airport"
                      destination="stage.destination" tasks='todo' share='share()'
                      location="stage.location" completed="stage.completed"
                      ideas='ideas["preflight"]'></preflight>
        </div>
        <div ng-switch-when="checkin">
              <checkin id='stage-{{stage.id}}' airport="stage.airport" airportname="stage.airportname"
                       terminal="stage.terminal" gate="stage.gate" location="stage.location"
                       ideas='ideas[stage.airport]',
                       completed="stage.completed"></checkin>
        </div>
        <div ng-switch-when="transfer">
          <transfer id='stage-{{stage.id}}'
            type="stage.transfertype"
            airport="stage.airport"
            airportname="stage.airportname"
            location="stage.location"
            terminal="stage.terminal"
            gate="'B17'",
            tasks='tasks[stage.airport]',
            ideas='ideas[stage.airport]',
            completed="stage.completed">
        </transfer>
        </div>
        <div ng-switch-when="flight">
          <flight id='stage-{{stage.id}}'
            type="stage.transfertype"
            airport="stage.airport"
            airportname="stage.airportname"
            location="stage.location"
            terminal="stage.terminal"
            dest='stage.dest'
            deptime='stage.deptime'
            arrtime='stage.arrtime'
            traveltime='stage.traveltime'
            gate="'B17'",
            tasks='tasks[stage.airport]',
            ideas='ideas[stage.airport]',
            completed="stage.completed">
        </flight>
        </div>
        <div ng-switch-when="holiday">
          <div class='card'>
            <div class="item item-text-wrap">
              <p>14 day stay</p>
            </div>
          </div>
        </div>
      </div>
    </div>


  <select ng-model='person' ng-change="change()">
    <option value='ant'>Ant</option>
    <option value='jeremy'>Jeremy</option>
  </select>


  </ion-content>
</ion-view>
