<ion-view view-title="Chats">
    <div class="bar bar-header bar-light">
      <h1 class="title">You're chatting with Bobby</h1>
    </div>
      asdasd
    <ion-content style="padding-top: 40px;">
        <div class="list">
          <div class="item item-body">
            <p>
                 Hi, Amanada. I'm letting Bobby know who you are, your flight details and that you're currently on your way to get to collect your baggage to get to the transfering flight gate. You've only got 40 minutes till your flight leaves so i've increased your priority. - Joey
            </p>
          </div>
    </div>
     </ion-content>
     <ion-footer-bar keyboard-attach class="item-input-inset">
    <label class="item-input-wrapper">
          <input type="text" placeholder="Type your message"/>
    </label>
    <button class="button button-stable"> Send </button>
    </ion-footer-bar>

</ion-view>
