<div class="bar bar-header top-nav">
  <!-- todo bind to stages -->
  <button class="button button-clear button-positive">
    <i class="icon ion-record"></i>
  </button>
  <button class="button button-clear button-positive">
    <i class="icon ion-record"></i>
    </button>
  <button class="button button-clear button-positive">
    <i class="icon ion-record"></i>
    </button>
  <button class="button button-clear button-positive">
    <i class="icon ion-record"></i>
    </button>
  <button class="button button-clear button-positive">
    <i class="icon ion-record"></i>
    </button>
  <button class="button button-clear button-positive">
    <i class="icon ion-pinpoint"></i>
    </button>
  <button class="button button-clear button-positive">
    <i class="icon ion-ios-circle-outline"></i>
    </button>
  <button class="button button-clear button-positive">
    <i class="icon ion-ios-circle-outline"></i>
    </button>
  <button class="button button-clear button-positive">
    <i class="icon ion-ios-circle-outline"></i>
  </button>
  <button class="button button-clear button-positive">
    <i class="icon ion-ios-circle-outline"></i>
  </button>
</div>
<ion-view view-title="Journey">
  <ion-content class="cards-bg">
    <a id="0"></a>
    <preflight days=2 airport="'sydney'" destination="'usa'" tasks='tasks'></preflight>

    <a id="1"></a>
    <checkin airport="'syd'" airportname="'Sydney Kingsford Smith (International)'" terminal="'1'" gate="'J12'"></checkin>
  </ion-content>
</ion-view>