<ion-view view-title="Dashboard" class="onBoardView">
  <ion-content class="padding">
      <ion-slide-box class="onBoard" on-slide-changed="slideHasChanged($index)">
      <ion-slide>

        <div class="box">
            <div class="onBoardContent" >
                    <img src="/img/joey.svg" />
                 <h1 style="">Hi there!</h1>
                 <p style="">
                    My name is Joey, I'm going to help you out with your travel. Travel can be really stressful, so many things remember and
                 </p>
             </div>
         </div>
      </ion-slide>
      <ion-slide>
        <div class="box">
            <h1 style="color: white">With you in the good times and the bad times</h1>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="box">
            <h1 style="color: white">With you every step of the way</h1>
            <a href="#/tab/story">
                  <button class="button button-large button-positive">
                      Let's go
                 </button>
              </a>
        </div>
      </ion-slide>

    </ion-slide-box>
  </ion-content>
</ion-view>
