<ion-view view-title="Chats">
    <div class="bar bar-header bar-light">
      <h1 class="title">You're chatting with Bobby</h1>
    </div>
     asdasd
    <ion-content style="padding: 40px 5px 0px 5px;">
        <div class="list">
          <div class="item item-body" style="border: none">
            <p>
                 Hi, Amanada. I'm letting Bobby know who you are, your flight details and that you're currently on your way to collect your baggage before going to the transfering flight gate. You've only got 40 minutes till your flight leaves so i've increased your priority. </br> - Joey
            </p>

          </div>
    </div>

    <button class="button button-block button-stable col-75" style="text-align: left; padding-left: 10px; line-height: 1.5em;">
      Hi Bobby, I've been waiting for my luggage for over an hour!
    </button>


    <button class="button button-block button-positive col col-75 col-offset-25" style="text-align: right; padding-right: 10px; margin-right: 5px; line-height: 1.5em;">
        It should be there. Let me check the database.
    </button>



     </ion-content>



     <ion-footer-bar keyboard-attach class="item-input-inset">
    <label class="item-input-wrapper">
          <input type="text" placeholder="Type your message"/>
    </label>
    <button class="button button-stable"> Send </button>
    </ion-footer-bar>

</ion-view>
