<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-only tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Home" icon-off="qf-home" icon-on="qf-home" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Trips" icon-off="qf-trips" icon-on="qf-trips" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Joey" icon-off="qf-joey" icon-on="qf-joey" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Offers" icon-off="qf-offers" icon-on="qf-offers" href="#/tab/story">
    <ion-nav-view name="tab-story"></ion-nav-view>
  </ion-tab>

  <ion-tab title="More" icon-off="qf-more" icon-on="qf-more" href="#/tab/chat">
    <ion-nav-view name="tab-chat"></ion-nav-view>

  </ion-tab>


</ion-tabs>
